@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Sofia Sans Condensed";
  --font-body: "Spline Sans Mono";
  --font-head:"Fjalla One", sans-serif;
}