@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");
@import "tailwindcss";

@theme {
  --font-display: "Sofia Sans Condensed";
  --font-body: "Spline Sans Mono";
  --font-head:"Fjalla One", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* 3D carousel auto-rotation */
@keyframes rotate {
  0% { transform: rotateY(0deg) rotateX(20deg); }
  100% { transform: rotateY(-360deg) rotateX(20deg); }
}

.animate-rotate {
  animation: rotate 16s linear infinite;
  transform-style: preserve-3d;
}

/* Perspective for 3D effect */
.perspective {
  perspective: 1000px;
}

/* Preserve 3D for child elements */
.transform-style-preserve-3d {
  transform-style: preserve-3d;
  will-change: transform;
}

